
students/Isabella_Kemp/lesson02/.DS_Store
*.json
students/Isabella_Kemp/lesson04/.DS_Store
students/Isabella_Kemp/lesson03/.DS_Store
students/Isabella_Kemp/lesson01/.DS_Store
students/Isabella_Kemp/.DS_Store
students/.DS_Store
