.DS_store
students/mattcasari/template.py
students/mattcasari/lesson02/.vscode/settings.json
students/mattcasari/lesson03/.vscode/settings.json
students/mattcasari/lesson05/__pycache__/
students/mattcasari/lesson05/Include/
students/mattcasari/lesson05/Scripts/
students/mattcasari/lesson05/Lib/
students/mattcasari/lesson05/share/
students/mattcasari/lesson05/pyenv.cfg
students/mattcasari/lesson05/template.py
