.DS_store
students/mattcasari/template.py
students/mattcasari/lesson02/.vscode/settings.json
students/mattcasari/lesson03/.vscode/settings.json
students/mattcasari/lesson05/__pycache__/
students/mattcasari/lesson05/Include/
students/mattcasari/lesson05/Scripts/
students/mattcasari/lesson05/Lib/
students/mattcasari/lesson05/share/
students/mattcasari/lesson05/pyenv.cfg
students/mattcasari/lesson05/template.py
students/mattcasari/lesson04/alice_in_wonderland.txt
students/mattcasari/lesson04/file_exercise.py
students/mattcasari/lesson04/students.txt
students/mattcasari/lesson04/temp.txt
students/mattcasari/lesson04/test/
students/mattcasari/lesson05/Lib/
students/mattcasari/lesson05/Scripts/
students/mattcasari/lesson05/__pycache__/
students/mattcasari/lesson05/comprehensions_lab.py
students/mattcasari/lesson05/pyvenv.cfg
students/mattcasari/lesson05/share/
students/mattcasari/lesson05/template.py
