# Git Ignore for Anthony McKeever's directory.
# Pycashe and PyTest

# Caching
__pycache__/
*/.pytest_cache

# Archives
*.zip

# Code Coverage
htmlcov/
.coverage
.coveragerc

# Output files
*output*.html
sample.html
